<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/career">Career</a>
      <a href="/gallery">Gallery</a>
      <a href="/about">About</a>
    </nav>

    <h1>About</h1>

    <div class="TextStyleOne">
      De Gaulle married Yvonne Vendroux on 7 April 1921 in Église Notre-Dame de
      Calais. They had three children: Philippe (born 1921), Élisabeth
      (1924–2013), who married General Alain de Boissieu, and Anne (1928–1948).
      Anne had Down syndrome and died of pneumonia at the age of 20. He always
      had a particular love for Anne; one Colombey resident recalled how he used
      to walk with her hand-in-hand around the property, caressing her and
      talking quietly about the things she understood. De Gaulle had an
      older brother Xavier (1887–1955) and sister Marie-Agnes (1889–1983), and
      two younger brothers, Jacques (1893–1946) and Pierre (1897–1959). He was
      particularly close to the youngest, Pierre, who so resembled him that
      presidential bodyguards often saluted him by mistake when he visited his
      famous brother or accompanied him on official visits. One
      of De Gaulle's grandsons, also named Charles de Gaulle, was a member of
      the European Parliament from 1994 to 2004, his last tenure being for the
      National Front. The younger Charles de Gaulle's move to the
      anti-Gaullist Front National was widely condemned by other family members,
      in open letters and newspaper interviews. "It was like hearing the pope
      had converted to Islam", one said. Another grandson, Jean de Gaulle,
      was a member of the French parliament until his retirement in 2007.
    </div>
  </body>
</html>
