<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Career</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/career">Career</a>
      <a href="/gallery">Gallery</a>
      <a href="/about">About</a>
    </nav>
    <h2>Early Life and Military Career</h2>
    <div class="TextStyleOne">
      The son of a philosophy and literature professor, famed French leader de
      Gaulle was born on November 22, 1890, into a patriotic and devoutly
      Catholic family. De Gaulle was a well-educated and well-read child. Early
      on, he dreamed of being a military leader. He enrolled at the country's
      top military academy, Saint-Cyr, in 1909. In 1912 he completed his studies
      and joined an infantry regiment that was commanded by Colonel Philippe
      Pétain, serving as a lieutenant.
    </div>

    <div class="TextStyleOne">
      During World War I, de Gaulle distinguished himself on the battlefield. He
      was wounded twice early on, and received a medal for his service. Promoted
      to captain, de Gaulle fought in one of the war's most deadly
      confrontations — the Battle of Verdun — in 1916. During the fight, he was
      injured and, subsequently, taken prisoner. After several failed escape
      attempts, de Gaulle was freed at the end of the war. A bright and skilled
      soldier, de Gaulle enrolled in a special training program at the École
      Supérieure de Guerre after the war. He later worked with Pétain and served
      on France's Supreme War Council. Gaining some international experience, de
      Gaulle spent time in Germany and the Middle East. Also an insightful
      writer, de Gaulle explored a number of military issues in his books. He
      published his examination of Germany, La Discorde chez l'ennemi, in 1924.
      Another important book was Vers l'armée de métier (1932), in which he made
      suggestions for creating a better army. This critical work was largely
      ignored by French military officials, but not by the Germans. According to
      some reports, the German military followed some of de Gaulle's
      recommendations in World War II. He and his mentor, Petain, had a falling
      out over another book, a military history piece entitled La France et son
      armée (1938).
    </div>

    <h2>World War II</h2>

    <div class="TextStyleOne">
      At the time fighting broke out between Germany and France, de
      Gaulle was leading a tank brigade. He was temporarily appointed the
      brigadier general of the 4th Armored Division in May 1940. Continuing to
      rise up professionally, de Gaulle became the undersecretary for defense
      and war for French leader Paul Reynaud that June. A short while later,
      Reynaud was replaced by Pétain. Pétain's new government, sometimes called
      the Vichy government, worked out a deal with Germany to avoid further
      bloodshed. The Vichy regime became infamous for collaborating with the
      Nazis. A dedicated patriot, de Gaulle did not accept France's surrender to
      Germany in 1940. He instead fled to England, where he became a leader of
      the Free French movement, with the support of British prime minister
      Winston Churchill. From London, de Gaulle broadcast a message across the
      English Channel to his countrymen, calling for them to continue to resist
      the German occupation. He also organized soldiers from French colonies to
      fight alongside the allied troops. "Whatever happens, the flame of French
      resistance must not and shall not die." - Charles du Gaulle, June 18 1940
      De Gaulle sometimes irritated other allied leaders with his demands and
      perceived arrogance. American President Franklin D. Roosevelt reportedly
      could not stand him. In fact, at the war's end, de Gaulle was purposely
      left out of the Yalta Conference, as Germany negotiated its surrender. He
      did, however, secure his nation an occupation zone in Germany and a seat
      on the United Nation's Security Council. De Gaulle enjoyed wide support at
      home and, in 1945, became president of France's provisional government. In
      a dispute over greater power for the country's executive branch, de Gaulle
      resigned this post. For several years, de Gaulle led his own political
      movement, "Rally for the French People," which did not gain much momentum.
      He retired from politics in 1953 before returning to become president of
      the country in 1959. President of the Fifth Republic The French
      government, known as the Fourth Republic, began to crumble in the late
      1950s, and de Gaulle once again returned to public service to help his
      country. He helped form the country's next government, becoming its
      president in January 1959. Establishing France's Fifth Republic, de Gaulle
      dedicated himself to improving the country's economic situation and
      maintaining its independence. He sought to keep France separate from the
      two superpowers — the United States and the Soviet Union. To show France's
      military relevance, de Gaulle successfully campaigned for the country to
      press on with its nuclear weapons program. De Gaulle was not afraid to
      make controversial decisions. After coping with uprisings in Algeria for
      years, he helped the French colony achieve independence in 1962. This move
      was not widely popular at the time. De Gaulle supported the idea of a
      united Europe, but he wanted Europe to be free from the superpowers'
      influences. He fought to keep Britain out of the European Economic
      Community because of its close ties to the United States. In 1966, de
      Gaulle also pulled his country's forces out of the North Atlantic Treaty
      Organization (NATO), acting again on his concerns with the United States.
      To some, de Gaulle came off as anti-American. Though he may have been, to
      some extent, his actions seemed to truly reflect his deep nationalistic
      views. Sometimes inflexible and intractable, de Gaulle nearly saw his
      government toppled by student and worker protests in 1968. He managed to
      restore order to the country, but left power soon after, following a
      battle over political and economic reforms. In April 1969, de Gaulle
      resigned from the presidency. Death and Legacy After his resignation, de
      Gaulle retired to his home in Colombey-les-Deux-Eglises. He had little
      time to enjoy the quiet life of this village, as he died of a heart attack
      on November 9, 1970. French President George Pompidou, who had worked
      closely with de Gaulle before succeeding him, delivered the terrible news
      to the public, saying "General de Gaulle is dead. France is a widow."
      France mourned the loss of its famous statesman and military leader; the
      country had lost one of its greatest heroes — a hero who had seen his
      people through war, and proved to be instrumental in his country's
      recovery. Other world leaders offered up words of praise for de Gaulle.
      Queen Elizabeth II said that his "courage and tenacity in the allied cause
      during the dark years of the Second World War will never be forgotten."
      Two American presidents, Lyndon B. Johnson and Harry S. Truman, also sent
      their condolences to the people of France. President Richard Nixon was
      among the foreign dignitaries who attended a special service for de
      Gaulle, held shortly after his death, at the Notre Dame Cathedral in
      Paris.
    </div>
  </body>
</html>
