<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/career">Career</a>
      <a href="/gallery">Gallery</a>
      <a href="/about">About</a>
    </nav>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap"
      rel="stylesheet"
    />

    <div class="gallery">
      <a>
        <figure>
          <img src="images/CDG1.jpg" alt="Charles de Gaulle" />
          <figcaption class="gallery__caption">
            Photo: Bettmann/Contributor
          </figcaption>
        </figure>
      </a>

      <a>
        <figure>
          <img src="/images/CDG2.jpeg" alt="Charles de Gaulle" />
          <figcaption class="gallery__caption">
            La Documentation française. Photo Jean-Marie Marcel
          </figcaption>
        </figure>
      </a>
    </div>
  </body>
</html>
