<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/career">Career</a>
      <a href="/gallery">Gallery</a>
      <a href="/about">About</a>
    </nav>
    <h1>Charles de Gaulle
      <span>&nbsp;&nbsp;&nbsp;&nbsp;1959 - 1969</span>
    </h1>
    <div id="main-page">
      <img src="/images/DeGaulle.jpg" />
      <div class="text">
        Charles de Gaulle, in full Charles André Joseph Marie<br />
        de Gaulle, (born November 22, 1890, Lille, France —<br />
        died November 9, 1970, Colombey-les-deux-Églises),<br />
        French soldier, writer, statesman, and architect of<br />
        France’s Fifth Republic.<br><br><br>

        "<span>A true leader always keeps an element of surprise up his sleeve, 
        which others cannot grasp but which keeps his public excited and breathless.
        —Charles de Gaulle</span>"
      </div>
    </div>
  </body>
</html>
